:root {
  --clr-gray-dark: hsl(0, 0%, 17%);
  --clr-gray: hsl(0, 0%, 59%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-base: "Rubik", sans-serif;

  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-light);
  color: var(--clr-gray-dark);
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrapper {
  max-width: min(1200px, calc(100% - 2rem));
  margin-inline: auto;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.header {
  text-align: center;
  position: relative;
  height: 290px;
}

.bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/pattern-bg-mobile.png") no-repeat;
  z-index: -1;
}

@media screen and (min-width: 376px) {
  .header {
    height: 220px;
  }

  .bg-pattern {
    background: url("./images/pattern-bg-desktop.png") no-repeat;
    background-size: cover;
  }
}

.header h1 {
  font-size: 1.5rem;
  font-weight: var(--fw-normal);
  color: var(--clr-white);
  margin-top: 0;
  padding-top: 1em;
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.error {
  display: none;
  position: absolute;
  top: -35px;
  left: 0;
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  color: hsl(0, 100%, 74%);
  font-size: .8rem;
  width: 100%;
}

form input,
form button {
  padding: 1em;
  border: none;
  font-size: .95rem;
  font-weight: var(--fw-light);
  font-family: var(--ff-base);
}

form input {
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

@media screen and (min-width: 760px) {
  form input {
    width: 400px;
  }
}

form button {
  background-color: var(--clr-gray-dark);
  color: var(--clr-white);
  cursor: pointer;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.card {
  background-color: var(--clr-white);
  border-radius: 0.8em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  padding: .5em 0;
}


@media screen and (min-width: 760px) {
  .card {
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    padding: 1em 2em;
  }

  .card > * + * {
    padding-left: 1em;
    border-left: 1px solid var(--clr-gray);
  }
  
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__content h2 {
  font-size: .8rem;
  font-weight: var(--fw-bold);
  color: var(--clr-gray);
  margin-bottom: 0;
}

.card__content p {
  font-size: 1.3rem;
  margin: 0;
  font-weight: var(--fw-normal);
  text-align: center;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}
