/* ==========================================================================
 RESETS

 https://piccalil.li/blog/a-more-modern-css-reset/
========================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom Styles */
:root {
  /* Primary Colors */
  --clr-green: hsl(163, 72%, 41%);
  --clr-red: hsl(356, 69%, 56%);
  --clr-facebook: hsl(208, 92%, 53%);
  --clr-twitter: hsl(203, 89%, 53%);
  --clr-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --clr-youTube: hsl(348, 97%, 39%);

  /* Theme Colors */
  --clr-bg-pattern-top: hsl(225, 100%, 98%);
  --clr-bg-pattern-main: hsl(0, 0%, 100%);
  --clr-bg-card: hsl(227, 47%, 96%);
  --clr-text-primary: hsl(230, 17%, 14%);
  --clr-text-secondary: hsl(228, 12%, 44%);

  --clr-toggle-bg: hsl(230, 22%, 74%);
  --clr-toggle-bg-active: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  /* --pattern-desktop: linear-gradient(to bottom, var(--clr-bg-pattern-top) 20%, var(--clr-bg-pattern-main) 20%);
  --pattern-mobile: linear-gradient(to bottom, var(--clr-bg-pattern-top) 20%, var(--clr-bg-pattern-main) 20%); */
}

.theme-dark {
  --clr-bg-pattern-top: hsl(232, 19%, 15%);
  --clr-bg-pattern-main: hsl(230, 17%, 14%);
  --clr-bg-card: hsl(228, 28%, 20%);
  --clr-text-primary: hsl(0, 0%, 100%);
  --clr-text-secondary: hsl(228, 34%, 66%);
  --clr-toggle-bg: var(--clr-toggle-bg-active);
}

/* Base Styles */

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  color: var(--clr-text-primary);
  background-color: var(--clr-bg-pattern-main);
  transition: background .2s ease;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  margin: 0;
}

/* Utils */

.wrapper {
  max-width: min(1200px,  calc(100% - 2rem));
  margin-inline: auto;
}

.top-pattern {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-bg-pattern-top);
  transition: background .2s ease;
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: -1;
}

.divider {
  border: 1px solid var(--clr-text-secondary);
  margin: 1.5rem 0;
}

@media screen and (min-width: 700px) {
  .top-pattern {
    border-radius: 0;
    height: 330px;
  }

  .divider {
    display: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  --gap: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.text-faded {
  color: var(--clr-text-secondary);
}

.text-ok {
  color: var(--clr-green);
}

.text-danger {
  color: var(--clr-red);
}

.text-facebook {
  color: var(--clr-facebook);
}

.text-twitter {
  color: var(--clr-twitter);
}

.text-instagram {
  color: var(--clr-red);
}

.text-youtube {
  color: var(--clr-youTube);
}

/* Main Styles */
.header {
  padding-top: 2rem;
  flex-direction: column;
}

.header__title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.header__subtitle {
  font-size: .9rem;
  margin-top: .5rem;
}

.header__toggle {
  --gap: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.theme-state {
  font-weight: 700;
}

.theme-switch {
  cursor: pointer;
  display: block;
  border-radius: 100px;
  width: 50px;
  padding: 4px 5px;
  background: var(--clr-toggle-bg);
  transition: background .2s ease;
}

.theme-switch:hover {
  background: var(--clr-toggle-bg-active);
}

.theme-toggle {
  display: none;
}

.theme-switch::after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--clr-bg-pattern-main);
  border: 1px solid var(--clr-bg-pattern-main);
  transition: transform .2s ease;
}

.theme-toggle:checked ~ .theme-switch {
  background: var(--clr-toggle-bg-active);
}

.theme-toggle:checked ~ .theme-switch::after {
  transform: translate(20px);
}

/* Header Section on larger devices */
@media screen and (min-width: 700px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__toggle {
    --gap: 1rem;

  }
}

.summary {
  margin-top: 3rem;
}

.summary__card {
  position: relative;
  padding: 2rem 0;
  background-color: var(--clr-bg-card);
  transition: background .2s ease;
  border-bottom-left-radius: 6.5px;
  border-bottom-right-radius: 6.5px;
  text-align: center;
}

.summary__card::before {
  content: " ";
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 6.5px;
  z-index: -1;
  transition: background .2s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-border-facebook::before {
  background-color: var(--clr-facebook);
}

.card-border-instagram::before {
  background: var(--clr-instagram);
}

.card-border-twitter::before {
  background: var(--clr-twitter);
}

.card-border-youtube::before {
  background: var(--clr-youTube);
}


/*
  The trick here did'nt give me what i wanted
  but will need it for another project. so keep it here
*/

/* .summary__card {
  border-radius: 6.5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding-top: 5px;
}

.summary__card p {
  background-color: var(--clr-bg-card);
  padding: 2rem 0;
  border-bottom-left-radius: 6.5px;
  border-bottom-right-radius: 6.5px;
} */

.summary__card p:hover {
  opacity: 0.8;
}

.followers-count, .followers {
  display: block;
}

.username {
  color: var(--clr-text-secondary);
  font-weight: 700;
}

.followers-count {
  font-size: 3rem;
  font-weight: 900;
}

.followers {
  margin-top: -5px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--clr-text-secondary);
  letter-spacing: 5px;
}

.followers-today {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.overview {
  margin: 4rem 0;
}

.overview__heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-text-secondary);
  margin-top: 0;
  margin-bottom: 2rem;
}

.overview__card {
  background-color: var(--clr-bg-card);
  transition: background .2s ease;
  padding: 2rem;
  border-radius: 6.5px;
}

.overview__card:hover {
  opacity: 0.8;
}

.overview__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview__title :first-child {
  font-size: 1rem;
  font-weight: 700;
}

.overview__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  font-size: .8rem;
}

.caret-icon {
  font-size: 1rem;
  margin-left: auto;
}

.overview__count {
  font-size: 2.5rem;
  font-weight: 700;
}

.overview__text :last-child {
  font-weight: 700;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }