/* ==========================================================================
 RESETS

 https://piccalil.li/blog/a-more-modern-css-reset/
========================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --max-content-width: 1200;

  --clr-primary: hsl(136, 65%, 51%);
  --clr-secondary: hsl(192, 70%, 51%);
  --clr-tetiary: hsl(233, 26%, 24%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-300: hsl(220, 16%, 96%);
  --clr-neutral-400: hsl(233, 8%, 62%);

  --ff: "Public Sans", sans-serif;
  --fw-light: 300;
  --fw-regular: 300;
  --fw-bold: 300;
}

body {
  font-size: 1.125rem; /* 18px */
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
  background-color: var(--clr-neutral-100);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
}

header {
  background-color: var(--clr-neutral-100);
  margin: 0;
}

footer {
  color: var(--clr-neutral-100);
  background-color: var(--clr-tetiary);
}

/* Utilities */

.wrapper {
  max-width: min(1200px,  calc(100% - 2rem));
  margin-inline: auto;
}

.row {
  --gap: 1.5em;

  display: flex;
  flex-wrap: wrap;
}

.grid {
  --gap: 2em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.into-bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
  width: 100%;
  z-index: -1;
  background: url('./images/bg-intro-mobile.svg') no-repeat;
  border: 1px solid red;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }